@model IEnumerable<TesteDePerformance03.Models.PessoaModel>



@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Details">
    <h4>Procurar pessoa por nome</h4>
    <div class="form-group">
        <label class="control-label"></label>
        <input name="Id" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Procurar" class="btn btn-primary" />
    </div>
</form>

<p>
    <a asp-action="Create">Adicionar nova pessoa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", item) |
                @Html.ActionLink("Details", "Details", new { Id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>